.faq {
	background-color: white;
	height: auto;
	position: relative;
	margin-top: 148px;
	margin-bottom: 148px;
	border-radius: 20px;
	width: 100%;
}

@media only screen and (min-width: 500px) {
	.faq {
		max-width: 425px;
	}
}

@media only screen and (min-width: 980px) {
	.faq {
		max-width: var(--faqs-max-width);
	}
	.container--box--wrapper {
		position: absolute;
		top: 40%;
		transform: translateY(-40%);
		left: -14%;
		z-index: 3;
	}
}

.faq--list {
	list-style: none;
	padding: 0 25px;
	margin-top: 20px;
	margin-bottom: 48px;
	width: 100%;
}

.faq--wrapper,
.faq--wrapper__title,
.faq__title,
.faq_desc {
	margin: 0;
}

.faq--wrapper--inline {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq__title {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: var(--clr-txt-desat-blue);
}

.faq--wrapper__title {
	font-size: 14px;
	font-weight: 400;
	transition: var(--transition);
	color: var(--clr-txt-desat-blue);
	cursor: pointer;
}

.faq--wrapper__title:hover {
	color: var(--clr-txt-soft-red);
}

.faq--wrapper__active {
	font-weight: 700;
}

.faq--wrapper__paragraph {
	opacity: 0;
	height: 0;
	overflow: hidden;
	margin: 0.5em 0;
	transition: var(--transition);
}

.faq--wrapper__desc {
	line-height: 20px;
	color: var(--clr-txt-grayish-blue-2);
	margin: 0;
	font-size: 12px;
}

.faq--wrapper--show {
	opacity: 1;
}

.faq--wrapper--btn {
	background-color: transparent;
	border: none;
	padding: 1em;
	display: flex;
	align-items: center;
	cursor: pointer;

	transition: var(--transition);
}

.faq--wrapper--btn__up {
	transform: rotateZ(-180deg);
	opacity: 1;
}

.faq--wrapper--btn__down {
	transform: rotateZ(0deg);
}

.faq--wrapper--divider {
	width: 100%;
	border: 1px solid var(--clr-divider);
}

@media only screen and (min-width: 980px) {
	.faq__title {
		text-align: left;
		font-size: 35px;
		margin-bottom: 35px;
	}

	.faq--wrapper__title {
		font-size: 15px;
	}

	.faq--wrapper__desc {
		font-size: 13px;
	}

	.faq--list {
		padding: 0;
		margin: 0;
	}
}
